@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;   
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

p {
    font-size: 8rem;
    color: var(--black)
}

h1 {
    color: var(--purple);
    font-size: 6rem;
}

.container {
    background-image: url("../img/top-image.svg"), url("../img/top-image.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-color: var(--white);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: grid;
    grid-template-columns: 30rem 50rem;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}

.text {
    display: flex;
    padding: 1.5rem 0;
    gap: 3rem;
    padding: 1.5rem 1rem;    
}

.text p:nth-child(2) {
    padding-left: 5.5rem;
}

.text p:nth-child(3) {
    padding-left: 3.5rem;
}

.text p {
    font-size: 1.5rem;
    color: var(--text-color);
}

.stopwatch {
    
}

.buttons {
    display: flex;
    gap: 5rem;
}
.buttons:hover :not(:hover){
    opacity: 0.4;
    transition: all 300ms ease-in-out;
}

button {
    width: 10rem;
    height: 10rem;
    text-align: center;
    padding: 2rem;
    border-radius: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button:nth-child(1) {
    padding: 2.5rem;
}

.start {
    color: var(--purple);
    border: .3rem var(--purple) solid;
    background: white;
}

.pause {
    color: var(--text-color);
    border: .3rem var(--text-color) solid;
    background: white;
}

.reset {
    color: var(--black);
    border: .3rem var(--black) solid;
    background: white;
}

button:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.img-rocket {
    width: 50rem;
}

.img-rocket img {
    width: 100%;
    height: auto;
}